<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> Mail Sent! </title>
  <link th:href="@{/styles/mainStyles.css}" rel="stylesheet" />
</head>
<body class = "whole-page">

<div class="whole-page center">
  <b> Check your mail for current rates! </b><br>
  <b> What do you want to do now? </b><br>

  <form th:action="@{/bank}">
    <input type="submit" value="Get more rates!">
  </form>

  <form th:action="@{/}">
    <input type="submit" value="Go to menu.">
  </form>

</div>

</body>
</html>